@page "/AboutPage"

<div class="m-5" />

<h1 class="text-center">WebRTCme Demo app</h1>
<img class="mx-auto d-block img-fluid" src="_content/WebRTCme.DemoApp.Blazor/me.png" />
<h5 class="mt-2 text-center">© melihercan@@2021</h5>



