@page "/"
@layout BlankLayout

<div class="d-flex h-100 flex-column justify-content-center align-items-center">

        <div class="@(InitializingViewModel.IsCheckingSignallingServer ? "visible" : "invisible")">
            <Circle />
        </div>

        <div class="mh-3">
            <h5 class="text-center font-weight-bold">@InitializingViewModel.Header</h5>
            <p class="text-center">@InitializingViewModel.Message</p>
        </div>

        <button @onclick="InitializingViewModel.Retry"
                class="btn btn-primary @(InitializingViewModel.RetryButtonEnabled ? "visible" : "invisible")">
            OK
        </button>
  
</div>


