@page "/counter"
@inject IJSRuntime JsRuntime

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {        

    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if(firstRender)
        {
            var webRtc = CrossWebRtc.Current;
            var window = await webRtc.Window(JsRuntime);



//            var mediaStream = webRtc.Window.Navigator.MediaDevices.GetUserMedia(new MediaStreamConstraints
  //          {
    //            Audio = true,
      //          Video = true
        //    });

            //        webRtc.Initialize(Registry.ServiceProvider);
            //            var rtcPeerConnection = webRtc.CreateRTCPeerConnection(JsRuntime);
            //          rtcPeerConnection.Do();


            //var promiseResult = await webRtc.GetUserMedia(JsRuntime);

            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
