@page "/AboutPage"

<div class="m-5" />

<h1 class="text-center">WebRTCme MediaSoup server app</h1>
<img class="mx-auto d-block img-fluid" src="me.png" />
<h5 class="mt-2 text-center">© melihercan@@2022</h5>



