@page "/"
@inject INodeJSService NodeJsService


<h1>WebRTCme MediaSoup server</h1>


@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await NodeJsService.InvokeFromFileAsync("./Scripts/mediaSoupServer.js", "runServer");
        }
        catch(Exception ex)
        {
            Console.WriteLine($"EXCEPTION: {ex.Message}");
        }

        await base.OnInitializedAsync();
    }
}