@page "/about"

<h1>Video</h1>

@*<div>
    <video autoplay @ref=_localVideo></video>
</div>


*@

<div>
    <Video Type="VideoType.Camera" Source="Default"/>
</div>

<div>
     TURN server: @_server<input @bind="_server"/>
    <input @bind="_room"/> Room name: @_room
    <input @bind="_userId"/> User name: @_userId  
</div>
<div>
    <button class="btn btn-primary" @onclick="OnStartCall">Start call</button>
    <button class="btn btn-primary" @onclick="OnJoinCall">Join call</button>
</div>

