@page "/about"

<h1>Video</h1>

@*<div>
    <video autoplay @ref=_localVideo></video>
</div>


*@

<div>
    <Video Type="VideoType.Camera" Source="Default"/>
</div>

<div>
    <input @bind="_server"/> Server: @_server
    <input @bind="_room"/> Room: @_room
    <input @bind="_userId"/> User Id: @_userId  
    <button class="btn btn-primary" @onclick="OnConnect">Connect</button>
</div>

