<div>
    <p>Make sure signalling server is online and try again</p>
</div>

<div class="d-flex flex-grow-1 mt-3 justify-content-center">
    <button type="button" class="btn btn-secondary" @onclick="@OnOk">
        OK
    </button>
</div>



