<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebRTCme.DemoApp.Blazor.Wasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
@*        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Initializing" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Initializing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConnectionParameters">
                <span class="oi oi-info" aria-hidden="true"></span> Connection Parameters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="call">
                <span class="oi oi-video" aria-hidden="true"></span> Call
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-video" aria-hidden="true"></span> Chat
            </NavLink>
        </li>
*@  


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="call">
                <span class="oi oi-video" aria-hidden="true"></span> Call
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-video" aria-hidden="true"></span> Chat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="initializing">
                <span class="oi oi-info" aria-hidden="true"></span> Initializing
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
